.projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 50px;
    margin-left: 300px;

    @media(max-width: 950px) {
        margin-left: 0;
        gap: 60px;
    }

    @media(max-width: 700px) {
        gap: 45px;
    }
}