.swiper {
    max-width: 800px;
    max-height: 600px;
    position: relative;
    z-index: 1;
    background-color: black;
}

.swiper-slide {
    display: flex;
    align-items: center;
    height: auto;
}

.swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translate(5px, -50%);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &::after {
        content: '';
        background: url('./../../../public/img/icons/arrow-prev.svg');
        height: 50px;
        width: 50px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
    }
    &:hover {
        background-color: darken(#fff, 10%);
    }
}

.swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translate(-5px, -50%);
    box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
    right: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &::after {
        content: '';
        background: url('./../../../public/img/icons/arrow-next.svg');
        height: 50px;
        width: 50px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
    }

    &:hover {
        background-color: darken(#fff, 10%);
    }
}

.video {
    position: relative;
}

.video__btn {
    position: absolute;
    z-index: 1000;
    background: white;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
    transition: background .2s ease-in-out;
    &:hover {
        background-color: darken(#fff, 10%);
    }

    &-hidden {
        opacity: 0;
        overflow: hidden;
    }
}
